{% extends 'college/base.html' %}
{% load static %}
{% block site_title %}
{{course.name}}
{% endblock site_title %}
{% block content %}
<section class="content">
    <div class="row">
        <div class="col-md-8">
            <div class="card card-primary">
                <div class="card-header">
                    <h3 class="card-title">General</h3>

                    <div class="card-tools">
                        <button type="button" class="btn btn-tool" data-card-widget="collapse" title="Collapse">
                            <i class="fas fa-minus"></i>
                        </button>
                    </div>
                </div>
                <div class="card-body">
                    <form action="" method="post">
                        {% csrf_token %}
                        <div class="form-group">
                            <label for="inputCourse">Course Name</label>
                            <input name="course_name" type="text" id="inputCourse" class="form-control"
                                value="{{course.name}}" onchange="enableSave()">
                        </div>
                        <a href="" id="cancel_btn" class="btn btn-secondary disabled">Cancel</a>
                        <input id="save_btn" disabled type="submit" value="Save Changes"
                            class="btn btn-success float-right">
                    </form>
                </div>
                <!-- /.card-body -->
            </div>
            <!-- /.card -->
        </div>
        <div class="col-md-4">
            <div class="card card-info">
                <div class="card-header">
                    <h3 class="card-title">Semesters</h3>
                    <div class="card-tools">
                        <button type="button" class="btn btn-tool" data-card-widget="collapse" title="Collapse">
                            <i class="fas fa-minus"></i>
                        </button>
                    </div>
                </div>
                <div class="card-body p-0">
                    <table class="table">
                        <thead>
                            <tr>
                                <th>Semesters</th>
                                <th>Subjects</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for semester in semesters_list %}
                            <tr>
                                <td>{{semester.number}}</td>
                                <td>{{semester.get_subjects.count}}</td>
                                <td class="text-right py-0 align-middle">
                                    {% if semester.get_subjects.count == 0 %}
                                        <a href="#" class="btn btn-danger"><i class="fas fa-trash"></i></a>
                                    {% else %}
                                    <span class="d-inline-block" tabindex="0" data-toggle="tooltip" title="Can not delete semester containing subjects">
                                        <a href="" class="btn btn-danger disabled"><i class="fas fa-trash"></i></a>
                                    </span>
                                    {% endif %}
                                </td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
                <!-- /.card-body -->
            </div>
            <!-- /.card -->
        </div>
    </div>
</section>
<script>
    var sveBtn = document.getElementById('save_btn');
    var cancBtn = document.getElementById('cancel_btn');
    var courseField = document.getElementById('inputCourse');
    function enableSave() {
        if (courseField.value != "{{course.name}}") {
            sveBtn.removeAttribute("disabled");
            cancBtn.classList.remove("disabled");
        }
        else {
            sveBtn.setAttribute("disabled", "true");
            cancBtn.classList.add("disabled");
        }
    }
</script>
{% endblock content %}