{% extends 'faculty/base.html' %}
{% load static %}
{% block site_title %}
Papers
{% endblock site_title %}
{% block content %}
<section class="content">

    <!-- Default box -->
    <div class="card">
        <div class="card-header">
            <h3 class="card-title">Papers</h3>

            <div class="card-tools">
                <button type="button" class="btn btn-tool" data-card-widget="collapse" title="Collapse">
                    <i class="fas fa-minus"></i>
                </button>
                <button type="button" class="btn btn-tool" data-card-widget="remove" title="Remove">
                    <i class="fas fa-times"></i>
                </button>
            </div>
        </div>
        <div class="card-body p-0">
            <table class="table table-striped projects">
                <thead>
                    <tr>
                        <th style="width: 1%">
                            #
                        </th>
                        <th style="width: 20%">
                            Paper Name
                        </th>
                        
                        <th>
                            Type
                        </th>
                        <th>
                            Class
                        </th>
                        <th style="width: 20%" class="project-actions text-right">
                            <a class="btn btn-primary btn-sm" href="">
                                <i class="fas fa-plus">
                                </i>
                                New
                            </a>
                        </th>
                    </tr>
                </thead>
                <tbody>
                    {% for paper in papers %}
                    <tr>
                        <td>
                            {{forloop.counter}}
                        </td>
                        <td>
                            <a href="{% url 'faculty-paper-marks' paper.id %}">
                                {{paper.name}}
                            </a>
                            <br />
                            <small>
                                {{paper.exam.name}}
                            </small>
                        </td>
                        <td>
                            {{paper.subject.sub_type}}
                        </td>
                        <td>
                           {{paper.subject.semester.course}}| sem {{paper.subject.semester.number}}
                        </td>
                        <td class="project-actions text-right">
                            <!--<a class="btn btn-primary btn-sm" href="">
                                <i class="fas fa-folder">
                                </i>
                                View
                            </a>-->
                            <a class="btn btn-danger btn-sm" href="{% url 'college-delete-paper' paper.id %}">
                                <i class="fas fa-trash">
                                </i>
                                Delete
                            </a>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        <!-- /.card-body -->
    </div>
    <!-- /.card -->

</section>
{% endblock content %}