{% extends 'student/base.html' %}
{% load static %}
{% load shortcuts %}
{% block site_title %}
Papers
{% endblock site_title %}
{% block content %}
<section class="content">
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-header">
                    <h3 class="card-title">Progress bars</h3>
                </div>
                <!-- /.card-header -->
                <div class="card-body">
                    <label>Overall ({{overall}}<sub>%</sub>)</label>
                    <div class="progress mb-3">
                        <div class="progress-bar bg-{{ overall|get_class_according_to_marks }}" role="progressbar" aria-valuenow="40" aria-valuemin="0"
                            aria-valuemax="100" style="width: {{overall}}%">
                            <span class="sr-only">{{overall}}% Complete (success)</span>
                        </div>
                    </div>
                    {% for type in avg_lst %}
                    <label>{{type.type}} ({{type.avg}}<sub>%</sub>)</label>
                    <div class="progress mb-3">
                        <div class="progress-bar bg-{{ type.avg|get_class_according_to_marks }}" role="progressbar" aria-valuenow="40" aria-valuemin="0"
                            aria-valuemax="100" style="width: {{type.avg}}%">
                            <span class="sr-only">{{type.avg}}% Complete (success)</span>
                        </div>
                    </div>
                    {% endfor %}
                </div>
                <!-- /.card-body -->
            </div>
            <!-- /.card -->
        </div>
    </div>
</section>
{% endblock content %}